<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneV</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex flex-col">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% elsif alert.present? %>
       <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="notice"><%= alert %></p>
      <% end %>

      <% if current_user %>
      <button
      class="<%= current_user ? 'button button-cyan' : 'border bg-amber-500 w-max text-gray-100 p-2 hover:text-amber-500 hover:bg-transparent' %>"
      menu-trigger="true"
      aria-expanded="true"
      data-ripple-light="true">
          Hello, <%= current_user.name %>!
      <% end %>
    </button>
     <% if current_user %>
        <%= button_to destroy_user_session_path, method: :delete, class: 'mr-8 flex items-center gap-2' do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
            </svg>
            <span class="my-auto ml-2 normal-case">Log Out</span>
        <% end %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
